
.btnAdjust{
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 80vw;
    letter-spacing: 1px;
}
.btnAdjust:hover{
    background-color: rgba(97, 49, 95, 0.8);
    cursor: pointer;
}
#TraVerse{
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
#LogoHead{
    top: 12px;
    height: 3rem;
}
body::after{
    background: url("../images/fridge.gif") no-repeat top;
    background-size: cover;
}
#FooterPara{
    text-align: center;
    color: rgba(226, 183, 197, 2);
}
