/* Universal CSS */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
  --blue-background:#D9D7F1;
  --yellow-background:#FFFDDE;
  --green-background:#E7FBBE;
  --pink-background:#FFCBCB;
  --heading-font:'Alegreya Sans', sans-serif;
  --text-font:'Nunito', sans-serif;
  --font-color1:#B2A4FF;
  --font-color2:#F07DEA;
  --font-color3:#F37878;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: var(--yellow-background);
  position: relative;
}
/* Adjusting main */
main{
  min-height: 100dvh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Creating base UI */
.profile-card{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 0 0 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 1;
  font-family: var(--heading-font);
  animation-delay: 2.8s;
}
.profile-picture{
  height: 10rem;
  background-color: var(--blue-background);
  border-radius: 25px 0 0 25px ;
}
.profile{
  height: 10rem;
  background-color: var(--green-background);
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.3rem;
  z-index: 3;
}
/* setting icons*/
.part1{
  text-align: end;
  position: relative;
  z-index: 5;
  animation-delay: 2.8s;
}
i{
  position: relative;
  font-size: 25px;
  margin-right: 0.7rem;
  color: var(--font-color1);
  font-family: var(--text-font);
  top: 1px;
}
i:hover{
  cursor: pointer;
}
.i2{
  color:var(--font-color2) ;
}
.i3{
  color: var(--font-color3);
}
/* drawing lines top */
.part2{
  animation-delay: 2.8s;
}
/* drawing lines bottom */
.username{
  position: relative;
  z-index: 4;
  top: 19.4px;
}
.username::after{
  content: "";
  position: absolute;
  left: 0;
  height: 2rem;
  width: 100%;
  background-color: var(--blue-background);
  z-index: -1;
}
.changing-profession{
  position: relative;
  z-index: 4;
  width: 100%;
  height: 1rem;
  top: 20px;
}
.changing-profession::after{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 2.23rem;
  background-color: var(--pink-background);
}
/* Setting hidden div */
.hidden-stats{
  position: absolute;
  height: 128px;
  width: 20rem;
  top: 0;
  left: 171px;
  border-radius: 30px 30px 0 0;
  display: none;
  z-index: -3;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cross{
  position: absolute;
  right: 5px;
  top: 5px;
}
/* Animating hidden div */
.move{
  animation: move-animation 0.3s linear forwards;
}
@keyframes move-animation {
  0%{top: -32px;}
  100%{top:-128px;}
}

.move-back{
  animation: move-animation-back 0.3s linear forwards;
}
@keyframes move-animation-back {
  0%{top: -128px;}
  100%{top:-32px;opacity: 0;}
}

/* color change */
.color-change-back{
  animation: color-animation-back 0.6s ease-in-out forwards;
}
@keyframes color-animation-back {
  100%{background-color: var(--blue-background);}
}
/* intro */
#intro{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FBDF07;
  z-index: 2;
  clip-path: circle(75%);
  animation: circle-animation 4s ease-in-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.7rem;
}
@keyframes circle-animation {
  0% { clip-path: circle(75%);opacity: 1; }
  25% { clip-path: circle(25%);background-color: #FF7F3F; opacity: 1;}
  50% { clip-path: circle(50%);background-color: #89CFFD; opacity: 1;opacity: 1;}
  85% { clip-path: circle(75%);background-color: #F94892; }
  100% { clip-path: circle(100%);opacity: 0; }
}
/* Animating logo */
span{
  display: inline-block;
}
.v{
  animation-delay: 1.5s;
}
